<div class="top-panel" #panel>
    <div class="mensaje" 
         *ngFor="let mensaje of mensajes"
         [ngClass]="{'propio': mensaje.nombre === nombre}">
        <div class="contenido">
            <img [src]="mensaje.avatar">
            <span>
                <span class="nombre">{{mensaje.nombre}}</span>
                <br>
                {{mensaje.texto}}
            </span>
        </div>
    </div>
</div>
<div class="bottom-panel">
    <form [formGroup]="chatForm" (ngSubmit)="sendTexto()">
        <input type="text" formControlName="texto">
        <button type="submit">+</button>
    </form>
    <p *ngIf="nombre !== usuarioConnect && showConnectUser">{{usuarioConnect}} se ha conectado</p>
    <p *ngIf="nombre !== usuarioDisconnect && showDisconnectUser">{{usuarioDisconnect}} se ha desconectado</p>
</div>
